body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
}

form {
    background-color: white;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 8px;
}
